# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# gtags
GTAGS
GSYMS
GRTAGS
GPATH

.*.swp

# cmake
CMakeCache*
cmake_install*
CMakeFiles

#alias.br branch
#alias.st status
#alias.co checkout
#alias.ci commit
#alias.graph log --graph --format="%C(auto)%h %<(65,trunc)%s %Cblue%>(28)%an %Cred%cr"
#alias.di diff
#alias.cl clone

# Project sepcific
# .build
